.chatbox {
      display: flex;
    flex-direction: column;
    height: 99vh;
    max-height: 600px;
    background-color: #fdfdfd;
    border: 1px solid #cccccc85;
    overflow: hidden;
    width: 70%;
    justify-self: anchor-center;

}

.chat-body {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f5f5f5;
  scrollbar-width: none;
}

.chat-footer {
  background-color: #fff;
  border-top: 1px solid #ccc;
  font-size: small;
}

.message {
    margin-bottom: 10px;
    padding: 9px 15px;
    border-radius: 5px;
    max-width: fit-content;
    font-size: small;
}

.message.user {
  background-color: #b2b2b2;
  align-self: flex-end;
  margin-left: auto;
}

.message.bot {
  background-color: #e0e0e0;
  align-self: flex-start;
  margin-right: auto;
}

.tiny-icon{
    font-size: small!important;
}

@media (max-width :768px) {
     .chatbox {
    width: 100%;
    height: 100vh;
    max-height: none;
    border: none;
    border-radius: 0;
  }

  .container {
    padding: 0 !important;
  }

  .chat-footer {
    align-items: stretch;
  }
    
}